@import "~normalize.css/normalize.css";
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

@font-face {
  font-family: 'RobotoCondensed';
  src: url('components/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-family: 'RobotoCondensedBold';
  src: url('components/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 0;

  }
#root, body, html {
  background-color: #f7faf1;
  color: black;
 }
 #cartWrapper,  #root > form, #root > div.css-t51xri {
   display: flex;
   flex-direction: column;
   min-height: 90vh;
   align-items: center;
 }
 #back-to-top > h4 {
   padding-left: 8rem;
 }

 @media only screen and (max-width: 768px) {
  #back-to-top > h4 {
padding-left: 0;
font-size: 1rem;
  };
  #back-to-top > a:nth-child(4) {
    margin: 0!important;
  }
}



 #cartWrapper > div.MuiContainer-root.MuiContainer-maxWidthMd > h4 {
   padding-right: 6rem;
 }
#search {
  padding-top: 360px;
}
#loginWrapper, #signupWrapper{
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 500px;
}

#checkoutWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 90vh;
  width: 600px;
}
#backgroundImage {
  background-image: url(components/img/networking2.jpg);
  margin-bottom: 1rem;
  height: 450px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root > div.MuiBox-root.MuiBox-root-7.makeStyles-root-1 {
  margin-top: -15px;
}
#root > div.MuiBox-root.jss7.jss1 {
  margin-top: -15px;
}

#searchEvents {
  background: rgba(17, 17, 17, 0.72);
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  color: #fff;
}
#searchEvents::placeholder {
  color: #fff;
}


#search-clear {
  color: white
}

#root > footer {
  height: auto;
  clear: both;
}

#root > div:nth-child(2) > ul > li > div.MuiContainer-root.makeStyles-cardGrid-368.MuiContainer-maxWidthLg > div.makeStyles-backToTopButton-395 > button {
  margin-bottom: 3rem;
}

#email-label, #root > div.MuiBox-root.MuiBox-root-129.makeStyles-paper-124 > main > form > div:nth-child(2) > label, #firstName-label, 
#lastName-label,
 #root > main > div > form > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 > div:nth-child(4) > div > label, #root > main > div > form > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 > div:nth-child(5) > div > label, #loginWrapper > div > main > form > div:nth-child(2) > label,
#signupWrapper > main > div > form > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 > div:nth-child(4) > div > label,
#signupWrapper > main > div > form > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 > div:nth-child(5) > div > label {
  color: black;
}
label {
  margin: 0;
  color: black
}

#footerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

  @media only screen and (max-width: 576px) {
    #root div img, #root > footer {
      display: none;
    };
    
    #root  div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-4 {
      flex-basis: 10%;
    };
  }
ul {
  margin-bottom: 0em;
}

#orderWrapper {
  background-image: url(components/img/handshake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
td {
  min-height: 54px;
}

#clearCart:hover
{
  color: red;
}
#cartWrapper > div.MuiContainer-root.MuiContainer-maxWidthSm > div > a:nth-child(2):hover {
  color: green;
}

#footerWrapper p > svg {
  color: #296a8c;
}

#editing-view-port > div:focus,
.form-control:focus {
  box-shadow: none;
  color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
 }
