@import "~normalize.css/normalize.css";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import "styles/variables.scss";
@import "styles/reset.scss";

@import "styles/typography.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 0;
  font-family: $font-family;
}
#root {
  background-color: #f7faf1;
  color: black;
}
#search {
  // margin-bottom: 1rem;
  padding-top: 360px;
}

#backgroundImage {
  background-image: url(components/img/networking2.jpg);
  margin-bottom: 1rem;
  height: 450px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root > div.MuiBox-root.MuiBox-root-7.makeStyles-root-1 {
  margin-top: -15px;
}

#searchEvents {
  background: rgba(17, 17, 17, 0.72);
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  color: #fff;
}
#searchEvents::placeholder {
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
}

// .alert .alert-primary {
//   padding: 2rem;
//   margin: 2rem;
// }
// .layout {
//   display: flex;
//   min-height: 100vh;
// }

// @media only screen and (max-width: 960px) {
//   html {
//     font-size: 12px;
//   }

//   .layout {
//     flex-direction: column;
//   }
// }

// @media only screen and (max-width: 320px) {
//   html {
//     font-size: 10px;
//   }
// }
